/* Опишите в этом файле все keyframes для проекта и стили анимаций иконки Like.

Будьте внимательны! Для корректной работы скриптов на этом сайте нужно, чтобы в HTML некоторые классы были названы особым образом:
✦ theme-dark — класс тёмной темы
✦ theme-light — класс светлой темы
✦ like-icon — для svg-иконки анимированного сердца
✦ card__like-button — для кнопки Like рядом с иконкой
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ is-liked — для обозначения состояния лайкнутой иконки в виде сердца
✦ button__text — для обозначения текстового элемента внутри кнопки

Кроме этого, не меняйте HTML переключателя тем. Его разметка также гарантирует работу своего скрипта.
*/

@keyframes arrow-animation {
  to {
    transform: translateX(4px);
  }
}

.like-icon {
  display: block;
}

.sparks {
  opacity: 0;
}

.core {
  fill: transparent;
  transition: fill 0.3s ease-in-out;
}

.main-body {
  fill: transparent;
  transition: fill 0.3s ease-in-out 0.05s;
}

.contour {
  transition: fill 0.3s ease-in-out 0.06s;
}

.like-icon:hover .core {
  fill: var(--color-accent);
  transition: fill 0.3s ease-in-out 0.03s;
}

.like-icon:hover .main-body {
  fill: var(--color-accent);
}

.like-icon:active .core {
  fill: var(--color-like);
  transition: fill 0.3s ease-in-out 0.03s;
}

.like-icon:active .main-body {
  fill: var(--color-like);
}

.like-icon.is-liked .core {
  fill: var(--color-like);
  transition: fill 0.3s ease-in-out 0.03s;
}

.like-icon.is-liked .main-body {
  fill: var(--color-like);
}

.like-icon.is-liked .contour {
  fill: var(--color-like);
  transition: fill 0.1s linear;
}

@keyframes like-scale {
  to {
    transform: scale(1.5);
  }
}

.like-icon.is-liked .heart {
  transform-origin: center;
  animation: like-scale 0.3s ease-in 0.1s 1 alternate;
}

@keyframes sparks-opacity {
  to {
    opacity: 1;
  }
}

.like-icon.is-liked .sparks {
  animation: sparks-opacity 0.3s ease-in 0.3s 1 alternate;
}
